.collapse{
    font-family: 'Roboto', sans-serif;
    margin-top: 5em;
    padding: 2em 7%;

    &__titulo{
        color: $color-blue;
        font-size: 2.5em;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 4%;
    }

    &__componente{
        background-color: lighten($color-blue-light, 23%);
        border-radius: 50px;
        // height: 100%;
        height: 100%;
    }

    &__produto{
        color: $color-black;
        font-size: 38px - 18px;
        font-weight: bold;
        // margin-bottom: 4%;
        padding: 1em 5em;
    }

    &__conteinerTexto{
        background-color: lighten($color-blue-light, 25%);
        border-radius: 0 0 50px 50px;
        height: 100%;
        padding: 3% 8%;
        font-size: 26px - 10px;
    }
    &__texto{
        &-item{
            margin: 10px 20px;
        }
    }


}