.footer{
    width: 100%;
    @media (min-width: $tablet-min){
            
    }

    @media (min-width: $tablet-max){

    }
    &__referencia{
        background-color: lighten($color-orange, 16%);
        padding: 45px 70px;
        color: $color-white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    
    &__fundo{
        background-color: $color-blue-light;
        display: flex;
        width: 100%;
        // justify-content: space-evenly;
        flex-direction: row;
        text-transform: uppercase;
        color: $color-white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    &__informacoes{
        border-right: $color-white solid 3px;
        width: 65%;
        // height: 30em;
    }

    &__nav{
        background: linear-gradient(90deg, lighten($color-blue, 16%) 2%, lighten($color-blue, 16%) 35%, lighten($color-blue, 1%) 100%);
        width: 100%;
        margin: 0 auto;
        justify-content: left;
    }
    
    &__list{
        // background-color: red;
        display: flex;
        padding: 20px 0;        
    }

    &__item{
        padding: 1px 70px;

        &Borda{
            padding: 0 50px;
            border-left: $color-white solid 2px;
            border-right: $color-white solid 2px;
        }
    }

    &__sintomas{
        // width: 100%;
        height: 79%;
        padding: 50px 70px;
        background-color: $color-blue-light;
    }

    &__medico, &__targifor{
        padding: 15px;
        margin-bottom: 15px;
        width: 64%;
        font-size: 1.1em;
        border: $color-blue solid 2px;
        color: $color-blue;
        background-color: $color-white;
    }
    // &__targifor{
    //     padding: 15px;
    //     width: 64%;
    //     font-size: 1em;
    //     border: $color-blue solid 2px;
    //     color: $color-blue;
    //     background-color: $color-white;
    // }

    &__final{
        margin-top: 2.5em;
        font-size: 12px;
        width: 52%;
        color: $color-blue;
        line-height: 20px;
    }

    &__contato{
        width: 40%;
    }

    &__link{
        background: linear-gradient(90deg, lighten($color-blue, 16%) 2%, lighten($color-blue, 16%) 35%, lighten($color-blue, 1%) 100%);
        width: 100%;
        padding: 21px 0;
        text-align: center;
    }

    &__atendimento{
        width: 300px;
        margin-top: 40px;
        border: $color-white 2px solid;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &Logo{
            width: 4em;
            display: block;
            margin-right: 5px;
        }
    }

    &__endereco{
        width: 300px;
        margin-top: 40px;
        border: $color-white 2px solid;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &Logo{
            width: 4em;
            display: block;
            margin-right: 10px;
        }
    }
}